<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VK API</title>
</head>
<body>
<a href="/">На главную.</a>
	<form method='post'>
		<h1>Название групп (ID)</h1>
		<input type="text" placeholder="schooloflinguistics" name="group1">
		<br>
		<input type="text" placeholder="thqstn" name="group2">
		<br>
		<input type="submit" value="Узнать">
		
		<p>Если в группах больше 10 тысяч человек, выполнение запроса может занять несколько минут.</p>
	</form>
		<h3>Группа №1: {{ n1 }}</h3>
		{{gr1}} 		
		<h3>Группа №2: {{ n2 }}</h3>
		{{gr2}} 
		<h3>Количество общих подписчиков: {{com}}</h3>
</body>
</html>