<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проект Картозия</title>
	<style>
		.pos {vertical-align: sub; color: pink; font-size: 70%;}
		.result {font-size: 24px;}
	</style>
</head>
<body>
	<h3>Проект</h3>
	<p>Если Инга будет трудолюбивой пчёлкой, то странички сайта будут красивыми.</p>
    <p>Исходный код скрывается на <b><a href="https://github.com/kartozia/hw_python3/tree/master/4/project">Github</a></b>.</p>
    <p>В рамках проекта я:</p>
    <ul>
        <li><a href="/pos">Осваиваю mystem</a></li>
        <li><a href="/vk">Покоряю VK API</a></li>
        <li><a href="/nltk">Ищу по песням Высоцкого</a></li>
    </ul>
    <p>Кратко о работе над проектом:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1a2wcpMQp8" frameborder="0" allowfullscreen></iframe>

</body>
</html>