    body{
      background-color: white;
      padding-top: 60px;
      padding-left: 50px;
      padding-right: 50px;
      line-height: 1.5;
	  font-family: "helvetica";
	  font-size: 16px;
    }
    
    .navbar {
	  margin-bottom: 0;
      border-radius: 0;
      opacity: 0.5;
      background-color: black;
	  font-family: "helvetica";
	  font-size: 16px;
	  padding-bottom: 0px;
	  line-height: 30px;
}
	.btn-default {
        background-color: #0DB6A4;
        color: white;
        border: 0px;
        margin-bottom: 0px;
        border-radius: 3px;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active    {
        background-color: #51D3C5;
        color: white;
    }