<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name = "Kartoziya">
    <title>Опрос</title>
</head>
<body>
	<ul>
    {% for name, url in urls.items() %}
    	<li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
	</ul>
	<form method ="GET">
    	<label>Как тебя зовут? <input type="text" name="name" value=""> </label><br />
    	<p>Собаки или кошки? <br />
    	<input type="radio" name="animal" value="dog">Собаки <br />
    	<input type="radio" name="animal" value="cat">Кошки <br />
    	</p>
    	<input type="submit" value="Отправить">
	</form>
</body>
</html>