<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name = "Kartoziya">
    <title>Опрос</title>
</head>
<body>
	<ul>
    {% for name, url in urls.items() %}
    	<li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
	</ul>
	<form action="/results">
    	<label>Как тебя зовут? <input type="text" name="name" value=""> </label><br />
    	<p> Собаки или кошки?
 		 {% for e in data.var %}
     	<input type="radio" name="var" value="{{ e }}"> {{ e }}<br>
 		 {% endfor %}
    	<input type="submit" value="Отправить">
	</form>
</body>
</html>